@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DaysOne';
    src: local('DaysOne'), url(../public/DaysOne-Regular.ttf) format('truetype');
}

* {
    font-family: "DaysOne", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.App {
    background-image: url(../public/bg.png);
}

.cell {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag {
    background-image: url(../public/flag.png);
}

.bomb {
    background-image: url(../public/bomb.png);
}

.smile {
    background-image: url(../public/smile.svg);
}
